/* Define the color scheme for screens with a minimum width of 576px */
@media (min-width: 576px) {
  body {

    .clearfix,
    .container-fluid,
    .about {
      color: rgb(2, 21, 2);
    }

  }

}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

body {
  padding-top: 60px;
  margin: auto;
  
}

/* deleted 9/4/24 restructure page */
.container_grid {
  border: 2px solid black;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  width: 50%;
  grid-template-columns: 150px, 1fr;
  grid-template-rows: 75px, 1fr, 1fr, 1fr, 1fr, 300px;
  grid-template-areas: "header header" /* header c1/3 r1/2*/
                        "sidebar main" /* self c1/2 self_p r2/3 */
                        "sidebar main" /* put c1/2 put_p 3/4*/
                        "sidebar main" /* goal c1/2 goal_p r4/5*/
                        "sidebar main" /* little c1/2 little_p r5/6 */
                        "footer footer"; /* footer level of ed div*/

}
.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 2px solid black; */
}
  
.self {
  grid-column: 1/2;
  grid-row: 2/3;
}
.self_p {
  grid-column: 2/3;
  grid-row: 2/3;
}
.put {
  grid-column: 1/2;
  grid-row: 3/4;
}
.put_p {
  grid-column: 2/3;
  grid-row: 3/4;
}
.goal {
  grid-column: 1/2;
  grid-row: 4/5;
}
.goal_p {
  grid-column: 2/3;
  grid-row: 4/5;
}
.little {
  grid-column: 1/2;
  grid-row: 5/6;
}
.little_p {
  grid-column: 2/3;
  grid-row: 5/6;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  /* border: 2px solid black; */
}

/*get image above to show as background  */
body {
    background-image: url("img/dev_desk_dark.jpg"); /* Path to your image */
    background-size: cover;        /* Cover the entire viewport */
    background-repeat: no-repeat;  /* Prevent image repetition */
    background-attachment: fixed;   /* Keep the background fixed */
  }

 
  .nav_bar {
    background-color: rgba(0, 0, 0, 0.2); /* Initial background with some transparency */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .nav_bar.scrolling {
    background-color: rgba(0, 0, 0, 0) !important ; /* Transparent background when scrolling */
  }

 .navbar-brand {
    opacity: 1; /* Initially visible */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
  }
  
  .nav_bar.scrolling .navbar-brand {
    opacity: 0 !important ; /* Hide when scrolling */
  }

.logo-big {
  align-content: center;
  display: inline-block;
  position: relative;
}


.bmaImgContainer {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;

}

.images {
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
  padding: 15px;
  border-radius: 50%;

}


.BMAimg {
  margin-left: auto;
  margin-right: auto;
  height: 165px;
  width: 165px;
  padding: 5px;
  text-align: justify;
  justify-content: space-evenly;
  border-radius: 50%;
}

.social {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  position: flex;
  flex-direction: column;
}

.rowsocial a {
  justify-content: space-evenly;
  font-size: 1em;
  display: inline-block;
  color: white;
  border-style: hidden;
  border-color: black;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  background-color: black;
}

.fa-youtube:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

.fa-twitter:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

.fa-facebook:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

.fa-instagram:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0)
  }

  1.78571% {
    transform: translate(5px, 0)
  }

  3.57143% {
    transform: translate(0, 0)
  }

  5.35714% {
    transform: translate(5px, 0)
  }

  7.14286% {
    transform: translate(0, 0)
  }

  8.92857% {
    transform: translate(5px, 0)
  }

  10.71429% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(0, 0)
  }
}
