body {
  padding-top: 60px;
  margin: auto;
  background-size: cover;           
  background-repeat: no-repeat;   
  background-attachment: fixed;   
  font-family: sams-serif;
  color: rgb(2, 21, 2);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s;
}

a{
  text-decoration: none;
  /* justify-content: end; */
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* navbar styling */
.navbar{
  display: flex;
  height: 5rem;
  justify-content: end;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 2px solid rgb(223, 251, 219);
}


.hamburger-menu{
  /* justify-content: end; */
  /* padding-right: 1.5rem; */
  cursor: pointer;
}

.hamburger-menu .line{
  justify-content: end;
  display: block;
  width:2.5rem;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
  cursor: pointer;
}

.nav-menu{
  position: fixed;
  justify-content: flex-end; 
  width: 94%;  
  top: 6rem;
  right: 3%; 
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  
}


.nav-menu a{
  display: block;
  text-align: center;
  padding: 5px 0;
  color: black;
}
.nav-menu a:hover{
  background-color: rgb(223, 251, 219);
}

.hide{
  display: none;
}

/* for Desktop view  */
@media screen and (min-width:600px){
  .navbar{
      justify-content: end;
  }
  .nav-menu{
      display: block;
      position: static;
      width: auto;
      margin-right:20px;
      background: none;
  }
  .nav-menu a{
      display: flex;
      align-content: inline;
      justify-content: end;
      padding: 15px 20px;
  }
  .nav-menu a:hover{
      background-color: rgb(223, 251, 219);
      border-radius: 5px;
  }
  .hamburger-menu{
      display: none;
      
  }
}


/* restructure page 9/4/24 utilizing grid  */
.container_grid {
  border: 2px solid black;
  border-style: hidden;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  width: 50%;
  min-height: 100vh;
  grid-template-columns: 150px, 1fr;
  grid-template-rows: 75px, 1fr, 1fr, 1fr, 1fr, 300px;
  grid-template-areas: "header header" /* header c1/3 r1/2*/
                        "sidebar main" /* self c1/2 self_p r2/3 */
                        "sidebar main" /* put c1/2 put_p 3/4*/
                        "sidebar main" /* goal c1/2 goal_p r4/5*/
                        "sidebar main" /* little c1/2 little_p r5/6 */
                        "footer footer"; /* footer level of ed div*/

  
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 2px solid black; */
}
  
.self {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 15px;
}
.self_p {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 15px;
}
.put {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 15px;
}
.put_p {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 15px;
}
.goal {
  grid-column: 1/2;
  grid-row: 4/5;
  padding: 15px;
}
.goal_p {
  grid-column: 2/3;
  grid-row: 4/5;
  padding: 15px;
}
.little {
  grid-column: 1/2;
  grid-row: 5/6;
  padding: 15px;
}
.little_p {
  grid-column: 2/3;
  grid-row: 5/6;
  padding: 15px;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 15px;

}


/* progress bars */
.progress-bar {
  padding: 5px;
  height : 20px;
}

@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr; 
      grid-template-rows: repeat(4, 1fr);
      /* found "repeat" https://developer.mozilla.org/en-US/docs/Web/CSS/repeat */
      grid-template-areas: 
                "header header" 
                "sidebar"
                "main"
                "sidebar"
                "main" 
                "sidebar"
                "main"
                "sidebar"
                "main" 
                "footer footer";
}
}
/* end of grid container  */

.contact_container {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  /* border: 2px solid black; just to see the edges  */
}
/* navbar fade feature supported in js file */
.nav_bar {
  background-color: rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease; 
}

.nav_bar.scrolling {
  background-color: rgba(0, 0, 0, 0) !important; 
}

.navbar-brand {
  opacity: 1; 
  transition: opacity 0.3s ease; 
}

.nav_bar.scrolling .navbar-brand {
  opacity: 0 !important; 
}

/* image controls */
.logo-big {
  align-content: center;
  display: inline-block;
  position: relative;
}


.bmaImgContainer {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;

}

.images {
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
  padding: 15px;
  border-radius: 50%;

}


.BMAimg {
  margin-left: auto;
  margin-right: auto;
  height: 165px;
  width: 165px;
  padding: 5px;
  text-align: justify;
  justify-content: space-evenly;
  border-radius: 50%;
}

.social {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  position: flex;
  flex-direction: column;
}

.rowsocial a {
  justify-content: space-evenly;
  font-size: 1em;
  display: inline-block;
  color: white;
  border-style: hidden;
  border-color: black;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  background-color: black;
}

/* social media shake feature  */
.fa-youtube:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

.fa-twitter:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

.fa-facebook:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

.fa-instagram:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0)
  }

  1.78571% {
    transform: translate(5px, 0)
  }

  3.57143% {
    transform: translate(0, 0)
  }

  5.35714% {
    transform: translate(5px, 0)
  }

  7.14286% {
    transform: translate(0, 0)
  }

  8.92857% {
    transform: translate(5px, 0)
  }

  10.71429% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(0, 0)
  }
}