@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}

@supports(display: flex) {
  @media screen and (min-width: 900px) {
    article {
      display: block;
    }
  }
}

.form-handling {
  font: auto;
  display: block;
  position: relative;
  float: auto;
  margin: auto;
  padding: 1rem 3rem;
  background-color: whitesmoke;
  border-color: blanchedalmond;


}

.feildset {
  font: auto;
  display: block;
  position: relative;
  float: auto;
  margin: auto;
  padding: 1rem 3rem;

}
